/* 
    This file is for the style and effects on the picture.

    img
    the location of the image on the page
*/
img {
	margin-left: 5%;
	margin-top:  5%;
	float: left; /*width: 21%; height: 14%*/;
}

/*
    .photo
    more positioning and display settings
*/
.photo {
	/*position: absolute;
	top: 0%;
	left: 0%;
	transform: translate(-50%, 50%);
	/*display: block;*/
}

/*
    .photo img
    size, location, and color modification on the image
*/
.photo img {
	width: 200px;
	height: 280px;
	object-fit: cover;
	/*box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);*/
	/*display: block;*/
	/*margin-top: -10px;*/
}
/*