html {
	background-color: #121212;
	font-family: 'Courier New', monospace;
	color: white;
}

nav {
	position: sticky;
	top: 0;
}

footer {
	position: absolute;
	bottom: 2vh;
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}

.body_div {
	float: left;
	padding-top: 5vh;
  padding-right: 10vw;
  padding-bottom: 5vh;
  padding-left: 10vw;
	  text-align: center;
	  color: white;
	  text-decoration: none;
	  font-size: 17px;
}

.flex {
	float: bottom;
	color: white;
}

.flex a {
	float: bottom;
	color: white;
}

.flex a:hover {
	transition-duration: 1s;
  	background-color: #232323;
}

.parallax {
  /* The image used */
  background-image: url("img_parallax.jpg");

  /* Set a specific height */
  min-height: 50vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  width: 100%;
  overflow: auto;
}

.navbar a {
  float: left;
  padding-top: 5vh;
  padding-right: 10vw;
  padding-bottom: 5vh;
  padding-left: 10vw;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
	transition-duration: 1s;
  	background-color: #232323;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}